html, body {
	margin: 0;
    padding: 0;
	background-color: white;
}
.main-header {
    background-image: url("forest.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.5);
	padding-bottom: 40px;
	height:100px;
	padding-top: 40px;
}
ul li {
	display: inline;
}

#video-id {
	visibility: hidden;
		
}
#video-id2 {
	visibility: hidden;
		
}
#video-id3 {
	visibility: hidden;
		
}

h1 {
	display: inline;
	border-width: 3px;
    border-style:solid;
	text-align:center;
}
.center {
	align-items: center;
}

.video-button{
background-color:rgb(255, 255, 255);
border-radius: 25px;
align-items: center;
width:100px;
height:50px;
padding:0px;
margin-right: 2.5%;

margin-top: 270px;





}
.video-button2{
	background-color:rgb(255, 255, 255);
	border-radius: 25px;
	align-items: center;
	width:100px;
	height:50px;
	padding:0px;
	margin-right: 2.5%;
	
	margin-top: 270px;
	
	
}
.video-button3{
		background-color:rgb(255, 255, 255);
		border-radius: 25px;
		align-items: center;
		width:100px;
		height:50px;
		padding:0px;
		margin-right: 2.5%;
		
		margin-top: 270px;
		
		
		}

#logo{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	

}

button{
	height: 35px;
	width: 35px;
}



li a {
  color: white;
  padding-top: 30px;
  padding: 16px;
  padding-left:30px;
  text-decoration: none;
  

}

li a:hover {
  background-color: #11111198;
}





.flexbox-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: blue;
    flex-direction: row;
    padding: 10px;

}

.flexbox-item {
    width: 200px;
    margin: 10px;
    border: 5px solid rgba(24, 180, 107, 0.836);
    background-color: #000000;
    display: flex;

}

.flexbox-item-1 {
    min-height: 100px;
    flex-grow: 0.5;
    flex-basis:0;
    object-fit: scale-down;
	align-items: stretch;
	border-radius: 20px;
	border-width: 10px;
	border-style:  double ;


}

.flexbox-item-1 img {
	box-sizing: border-box;
	
	margin: 50px;
	margin-top:100px;
	margin-left: 38px;
	width: 75%;
	height: 45%;


}

.flexbox-item-2 {
    
    min-height: 200px;
    flex-shrink: 0;
    flex-grow: 1;
	flex-basis: 0;
	border-radius: 20px;
	border-width: 10px;
	border-style:  double ;
    
    padding: 20px;
    padding-left: 60px;
    padding-right: 15px;
}

.flexbox-item-3 {
    min-height: 300px;
    flex-grow: 0.5;
	flex-basis: 0;
	border-radius: 20px;
	border-width: 10px;
	padding:5px;
	color: white;
	border-style: double ;
}


      

.thick-green-border {
    border-color: green;
    border-width: 5px;
    border-style:solid;

}
       
       

  

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: rgb(8, 143, 35);
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: rgb(0, 0, 0);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
	border-radius: 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}



.footer-distributed .footer-left{
	width: 40%;
}



.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  rgb(21, 153, 60);
}



.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  rgb(219, 211, 211);
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  rgb(21, 153, 60);
	text-decoration: none;;
}

    

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
	
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


.icon-back-color1 {
	background-color: red;
	
}
.icon-back-color2 {
	background-color: blue;
}

.icon-back-color3 {
	background-color: yellow;
}
.icon-back-color4 {
	
	background-color:white;
}




@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* Popup container */
.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	color: white;
	padding: 16px;
	padding-top: 0px;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
	visibility: hidden;
	width: 250px;
	background-color: rgba(85, 85, 85, 0.534);
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
  }
  
  @keyframes fadeIn {
	from {opacity: 0;}
	to {opacity:1 ;}
  }